@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --color: black;
  }
}

.loginGradient {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(145, 217, 243) 0%,
    rgb(147, 164, 243) 90%
  );
}

.dashboardGradient {
  background: linear-gradient(
    111.4deg,
    rgb(122, 192, 233) 18.8%,
    rgb(4, 161, 255) 100.2%
  );
}

.profileGradient {
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}

/* leaflet custom css */
.leaflet-popup-close-button {
  display: none;
}
.added-location-style {
  background: green;
  padding: 4px;
}
.leaflet-popup-content p {
  margin: 0px 0px !important;
}

.leaflet-routing-container {
  display: none !important; /* Hides the directions panel */
}

body {
  color: var(--color);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes circleAnim {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

.circleAnim {
  animation: circleAnim 10s linear infinite forwards;
}

@keyframes hideFilter {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes noneFill {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes withFill {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.withFill {
  animation: withFill 0.5s forwards;
}
.noneFill {
  animation: noneFill 0.5s forwards;
}

@keyframes showFilter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.showfilter {
  animation: showFilter 0.5s forwards;
}
.hidefilter {
  animation: hideFilter 0.5s forwards;
}
